.form-container {
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr;
}

.form {
    width: calc(100% - 30px);
    height: calc(100% - (30px)*2);
    padding: 24px 30px;
    display: grid;
    gap: 24px;
    overflow: auto;
}

.form-multi-element {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    justify-content: flex-start;
    width: min(1000px, 100%);
    justify-self: center;
}

.form-element {
    display: grid;
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 1fr;
    align-items: flex-start;
    justify-content: flex-start;
    width: min(1000px, 100%);
    justify-self: center;
}

.form-element-label {
    font-family: var(--text-font-family);
    font-style: normal;
    font-weight: bold;
    font-size: var(--text-font-size) !important;
    line-height: var(--text-line-height);
    text-transform: uppercase;
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: .5em;
}

.form-element-data {
    border: none;
    background-color: var(--light-gray);
    color: var(--dark-gray);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

.form-button {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    width: min(1000px, 100%);
    justify-self: center;
    font-size: var(--text-font-size);
}

.form-note {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: var(--text-font-size);
    font-size: var(--text-line-height);
    display: flex;
    align-items: center;
    font-style: normal;
}

@media(min-width: 700px) {
    .form-container {
        height: calc(100% - 4em);
        padding: 2em;
    }
}