:root {
    --primary-color: #ffffff;
    --secondary-color: #3E3C8A;
    --accient-color: #F4E8DF;
    --light-gray: #F1F1F9;
    --dark-gray: #848484;
    --main-font: Lato;
    --title-font: DM Sans;
    --fill-available: -webkit-fill-available;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

#app-window {
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: 1fr;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}