.tab {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 10px 0px; */
}

.tab-element {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--text-font-size)*1.15);
    line-height: var(--text-line-height);
    font-weight: var(--tilte-font-weight);
    font-family: var(--title-font);
    color: var(--dark-gray);
    font-style: normal;
    padding: 1vh 1vw;
    cursor: pointer;
    text-transform: uppercase;
}

.tab-element.active {
    color: var(--secondary-color);
}

@media(min-width: 700) {
    .tab{
        padding: 10px 0px;
    }
}